version: '3.7'
services:
    prodigy:
        build: .
        container_name: prodigy
        restart: on-failure
        tty: true
        environment: 
            - token=notyet
        ports:
            - 6969:6969
        volumes:
            - .:/usr/src/app
            - /usr/src/app/node_modules